.logoDiv {
    font-size: 50px;
    display: flex;
    align-items: center;
    border: none;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    box-shadow: 10px 10px 5px 2px lightgrey;
}